<h1>Ticket Track</h1>
<p>Hi <%= @user.first_name %>,</p>
<p>Welcome to the Ticket Track! Click on the link below to activate your account:</p>

<%= link_to edit_account_activation_url(@user.activation_token, email: @user.email), edit_account_activation_url(@user.activation_token, email: @user.email) %>