<li id="venue-listing" class="clearfix">
	<div class="listing-left" id="venue-left">
		<div id="venue-name"><%= user.name %></div>
	</div>
	<div class="listing-right" id="venue-right">
		<div id="event-venue"><%= user.email %></div>
	</div>
</li>
