<li id="event-listing" class="clearfix">
	<div class="listing-left">
		<div id="event-artist"><%= event.performer.name %></div>
	</div>
	<div class="listing-right">
		<div id="event-venue"><%= event.venue.name %></div>
		<div id="event-date"><%= event.formatted_date(:long) %></div>
	</div>
</li>
