<div class="index-container">
  <div id="index-wrapper" class="wrapper clearfix">
    <%= render "partials/flash_messages" %>
      <h2>Venues</h2>
      <ol>
        <% @venues.each do |venue| %>
          <%= link_to render(partial: 'venues/venue', locals: {venue: venue}), venue %>
        <% end %>
      </ol>
      <%= will_paginate %>
  </div>

  <br>

  <p class="create-new-link"><%= link_to 'New Venue', new_venue_path %></p>
</div>
