<div class="index-container">
  <div id="index-wrapper" class="wrapper clearfix">
    <%= render "partials/flash_messages" %>
    <h2>Performers</h2>
    <ol>
      <% @performers.each do |performer| %>
        <li class="performer-name">
          <%= link_to performer.name, performer %>
        </li>
      <% end %>
    </ol>
    <p class="create-new-link"><%= link_to 'Back To Home', root_path %></p>
  </div>
</div>