/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat|Hammersmith+One|Proza+Libre|Lato|Bai+Jamjuree');

 $color_a: rgba(82,206,255,1); //light blue
 $color_a_light: rgba(158, 228, 255, 1);
 $color_a_dark: #0092cc; //darker blue
 $color_a_gradient: linear-gradient(90deg, $color_a 0%, $color_a_light 50%, $color_a 100%);
 $color_b: white;
 $color_c: #bfbfbf; //light grey
 $color_c_dark: grey;
 $color_d: black;


 $font_a: "Montserrat";
 $font_b: "Hammersmith One";
 $font_c: "Proza Libre";
 $font_d: "Bai Jamjuree";
 $message_font: "Lato", sans-serif;

 // UNIVERSAL

 *{
 	margin: 0;
 	padding: 0;
 	text-decoration: none;
 }

 body{
 	min-width: 400px;
 	background-color: white;
 }

 div#main{
 	min-height: 525px;
 	// padding: 0 5px;
 }

 .clearfix, div.form-section {
  overflow: auto;
}

h2, h3{
	font-family: $font_d;
}
h3{
	font-size: 20px;
}

div.pagination{
	text-align: right;
	font-size: 14px;
	.current{
		font-style: normal;
	}
	em, a, span{
		padding: 0 2px;
	}

}

// HEADER

header{
	height:60px;
	width: 100%;
	background: $color_a_gradient;
	p#header-title{
		display: inline-block;
		font-size:36px;
		padding-top:8px;
		padding-left: 15px;
		// font-weight:bold;
		font-family: $font_c, sans-serif;
		color: white;
		a{
			color: $color_b;
		}
	}
	p#header-login{
		display: inline-block;
		float: right;
		padding-right: 25px;
		padding-top: 16px;
		font-size: 20px;
		font-family: $font_a;
		a{
			color: $color_b;
		}
		a:hover{
			color: $color_a_dark;
		}
	}
	div.dropdown{
		float:right;
		button{
			height: 40px;
			width: 40px;
			background: transparent;
			border:none;
			margin-right: 20px;
			margin-top: 10px;
			cursor: pointer;
			float: right;
			img#menu-image{
				display: inline-block;
				width: 100%;
				height: 100%;
				// float: right;
			}
		}
		div.dropdown-content {
		  display: none;
		  margin-top: 60px;
		  border-bottom: 1px solid black;
		  border-left: 1px solid black;
		  border-right: 1px solid black;
		  position: absolute; 
    	right: 0; 
		  a:hover{
		  	div.menu-item{
		  		background-color: $color_a_light;
		  		// color: $color_b;
		  	}
		  }
		  div.menu-item{
		  	border-top: 1px solid black;
		  	padding: 10px 20px;
		  	background-color: $color_b;
		  	font-family: $font_a;
		  	text-align: center;
		  	color: $color_d;
		  	min-width: 140px;
		  	// right: 0;
		  }
		}
		div.show{
			display: block;
		}
	}
}

// HOMEPAGE

div#homepage-banner{
	height:300px;
	width:100%;
	img{
		height:100%;
		width:100%;
	}
}

div#homepage-body{
	padding-top:70px;
	padding-bottom: 80px;
	div#flash-container{
		padding-left: 5%;
		margin-bottom: 40px;
	}
	h2#homepage-title{
		margin-bottom: 12px;
		font-size: 48px;
		text-align:center;
		font-family: $font_b;
		color: $color_c;
	}
	div#homepage-checkpoints{
		display: inline-block;
		width:40%;
		padding: 20px 5%;
		font-size: 24px;
		color: $color_c;
		font-family: $font_a;
		table{
			tr{
				height: 96px;
				td.checkmark{
					min-width: 50px;
					color:#91f88b;
				}
			}
		}
	}
	div#homepage-signup-box{
		float:right;
		width:50%;
		text-align: center;
		padding-top: 152px;
		div#signup-button{
			box-shadow: 3px 3px 5px $color_c_dark;
			display:inline;
			padding: 22px;
			border: 2px solid $color_a_dark;
			border-radius: 40px;
			font-family: $font_a;
			font-size: 24px;
			font-weight: bold;
			background-color: $color_a;
			color: $color_b;
			a{
				color: $color_b;
			}
			a:hover{
				color: $color_a_dark;
			}
		}
	}
}

// STATIC PAGES

div#about-container{
	padding:80px 15%;
	h2{
		font-size: 26px;
		margin-bottom: 20px;
	}
	p{
		font-size: 15px;
		font-family: $font_a;
		margin-bottom: 15px;
	}
}


// FOOTER

footer{
	height: 150px;
	background: $color_a_gradient;
	text-align: center;
	padding: 12px 0 6px;
	color: $color_b;
	p#footer-title{
		font-family: $font_c;
		font-size: 26px;
		margin-bottom: 6px;
	}
	p.footer-link{
		font-family: $font_a;
		font-size: 16px;
		margin-top: 8px;
		a{
			color: $color_b;
		}
		a:hover{
			color: $color_a_dark;
		}
	}
}


// FORMS

div.form-container{
	width: 330px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 40px 29px;
	border: 1px solid $color_d;
	border-radius: 10px;
	box-shadow: 3px 3px 5px $color_c;
	background-color: white;
	font-family: $font_a;
	h2.form-title{
		text-align: center;
		margin-bottom: 24px;
	}
	h2#login-title, h2#set-new-password-title{
		margin-bottom: 36px;
	}
	div.form-section{
		// font-family: $font_a;
		padding: 10px 0;
		label{
			float: left;
		}
		input{
			float: right;
			width: 160px;
			height:20px;
			border-radius: 5px;
			font-size: 14px;
			// font-family: $font_a;
		}
	}
	div.submit{
		margin-top: 48px;
		text-align: center;
		input{
			background-color: $color_a;
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  border-radius: 8px;
		  // font-family: $font_a;
		  margin: 4px 2px;
	  	cursor: pointer;
		}
		input:hover{
			color:$color_a_dark;
		}
	}
	div#login-submit, div#performer-submit, div#ts-submit, div#venue-form-submit{
		margin-bottom: 24px;
		margin-top: 48px;
	}
	h2#venue-form-title, h2#edit-performer-title, h2#edit-ts-title{
		margin-top:32px;
		margin-bottom: 36px;
	}
	// div#venue-form-submit{
	// 	margin-bottom: 24px;
	// }
	select{
		float: right;
		width: 162px;
		height: 22px;
	}
	div.not-listed-link{
		margin-top: 25px;
		// padding-right: 32px;
		text-align: right;
		font-family: $font_a;
		font-size: 12px;
	}
	div#purchase-button-container, div#sale-button-container{
		display: inline-block;
		width: 49%;
		text-align: center;
		label{
			// width: 100px;
			margin-right: 0;
		}
		input{
			width: 28px;
			float:left;
			margin-left: 44px;
		}
	}
	textarea{
		float: right;
		width: 160px;
		border-radius: 5px;
		height: 50px;
	}
	div#remember-me{
		width:100%;
		margin-top: 28px;
		text-align: center;
		font-size: 14px;
		padding-top: 3px;
		label#remember-me-label{
			float: right;
			padding-right: 12px;
		}
		input#remember_me{
			width: 20px;
			float: right;
		}
	}
	div#forgot-password{
		font-size: 12px;
		float: right;
	}
	div#login-password{
		padding-bottom:4px;
	}
}



// SHOW PAGES

// User

div.show-container{
	font-family: $font_a;	
}
div#user-info-container{
	width:89%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
	font-style: italic;
	p{
		margin-bottom: 6px;
	}
	div#user-info{
		padding:12px;
	}
	h2#welcome-message{
		font-style: normal;
	}
	h2, h3{
		margin-bottom: 12px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		padding-top: 16px;
		font-size: 20px;
	}
	div#profits-container{
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		width:50%;
		margin-top:12px;
		border-top:1px solid $color_c;
		padding-top: 12px;
		@media screen and (max-width: 775px) {
			width: 100%;
		}
	}
}

div#user-lists{
	margin:auto;
	width: 90%;
	margin-bottom: 72px;
  div#events-wrapper{
  	margin-right:2%;
  	margin-bottom: 30px;
  }
  div#transactions-wrapper{
  	margin-left:2%;
  }
  div.wrapper{
  	
	@media screen and (max-width: 775px) {
	    float: none;
	    margin: auto;
	    width: 100%;
	  }
  }
  div#events-wrapper{
  	float:left;
  }
  div#transactions-wrapper{
  	float:right;
  }
	
}
div.wrapper{
	text-align:center;
	width:48%;
	min-width: 300px;
	font-family: $font_a;
	a{
		color: $color_c_dark;
	}
	a:hover{
		color: $color_d;
		font-style: italic;
		li{
			border: 1px dashed black;
			border-radius: 10px;
		}
	}
	ol{
		list-style: none;
		padding: 16px;
		li{
			margin-bottom: 10px;
			padding: 4px;
			// border: 1px solid grey;
		}
		
		div.listing-left{
			width:40%;
			float: left;
			
			div#event-artist{
				margin:auto;
				width: 100%;
				font-size: 16px;
			}
			div#order-number{
				width: 100%;
				font-size: 14px;
				font-weight:bold;
			}
			div#date{
				font-size: 14px;
			}
		}
		div.listing-right{
			width:60%;
			float:right;
			font-size: 14px;
			div{
				width: 100%;
			}
			div#event-venue{
				padding-bottom:4px;
			}
		}	
	}
}

// Other

div.resource-show-container{
	text-align: center;
	padding-top: 72px;
	margin:auto;
	width:50%;
	min-width: 300px;
	p{
		display: inline-block;
		font-size: 18px;
		margin-bottom: 16px;
	}
	p.title{
		float:left;
		text-align: left;
		width:30%;
		padding-left: 9%;
	}
	p.attribute{
		float: right;
		width:60%;
	}
	a{
		color: $color_c_dark;
	}
	a:hover{
		color: $color_d;
		font-style: italic;
	}
}

div#transaction-show-container{
	margin-bottom: 72px;
	div#transaction-show-header{
		margin-bottom: 36px;
		h2{
		font-size: 26px;
		}
		div#transaction-direction{
			font-style: italic;
			
			font-size: 17px;
		}
	}
}

div#event-show-container{
	text-align: left;
	width: 80%;
	h2{
		margin-bottom: 18px;
	}
	p{
		padding-left: 0;
		margin-bottom: 6px;
		display:block;
	}
	div#transactions-wrapper{
		padding-top: 50px;
		margin: auto;
		width: 80%;
		margin-bottom: 80px;
	}
}

div#performer-show-container, div#venue-show-container{
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
	h2{
		margin-bottom: 4px;
	}
	div.resource-header{
		margin-bottom:36px;
		p#venue-location{
			margin-bottom: 3px;
		}
		
	}
	div#upcoming-events-wrapper{
		width: 100%;
		div#recent-events{
			div.listing-left{
				width: 45%;
			}
			div.listing-right{
				width: 50%;
			}
		}	
	}

}
div#performer-show-container{
	h2{
		// margin-bottom: 40px;
		font-size: 36px;
	}
}

div#venue-show-container{
	p{
		font-size: 16px;
		margin-bottom: 0px;
	}
}

div.ud-links{
	font-size: 14px;
	font-style: normal;
	color: $color_c_dark;
	a{
		color: $color_c_dark;
	}
	a:hover{
		color: $color_d;
	}
}




// INDEX PAGES

div.index-container{
	text-align: center;
	margin-top: 72px;
	margin-bottom: 72px;
	font-family: $font_a;
	div#index-wrapper{
		margin:auto;
		width: 80%;
		div#transaction-index-title{
			margin-bottom: 12px;
			h2{
				margin-bottom: 10px;
			}
			p{
				font-size: 14px;
				font-style: italic;
			}
		}
		h2{
			margin-bottom: 20px;
		}
		li.performer-name{
			font-size: 20px;
		}
		li{
			div{
				display: inline-block;
			}
			div.edit-link{
					margin-right: 8px;
				}
			div#source-name{
				font-size: 20px;
				// margin-right: 12px;
				width: 48%;
				float:left;
			}
			div#source-ud-links{
				float: right;
				width: 48%;
				
			}
		}
	}
	div#venue-left{
		width:50%;
		font-size: 17px;
	}
	div#venue-right{
		width:50%;
		font-size: 17px;
	}
	p.create-new-link{
		
		a{
			color: $color_c_dark;
		}
		a:hover{
			font-style: italic;
			color: $color_d;
		}
	}
}
div#admin-event-left{
	width: 30%;
}
div#admin-event-right{
	width: 36%;
	float: none;
	margin: 0 2%;
}
div#index-ud-links{
	width: 30%;
	float: right;
}

div.sort-selectors{
	margin-bottom: 16px;
}

// FLASH/ERROR MESSAGES

div#flash-container{
	font-family: $message_font;
	margin-bottom: 30px;
	font-style: normal;
	text-align: left;
	p#flash-title{
		margin-bottom: 12px;
	}
	li.flash-message{
		margin-left: 20px;
	}
}

div#error_explanation{
	font-family: $message_font;
		margin-bottom: 24px;
		h3{
			font-family: $message_font;
			font-size: 16px;
			margin-bottom: 12px;
			font-weight: normal;
		}
		ul{
			margin-left: 20px;
		}
	}


