/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat|Hammersmith+One|Proza+Libre|Bai+Jamjuree');

 $color_a: rgba(82,206,255,1); //light blue
 $color_a_light: rgba(158, 228, 255, 1);
 $color_a_dark: #0092cc; //darker blue
 $color_a_gradient: linear-gradient(90deg, $color_a 0%, $color_a_light 50%, $color_a 100%);
 $color_b: white;
 $color_c: #bfbfbf; //light grey
 $color_c_dark: grey;
 $color_d: black;


 $font_a: "Montserrat";
 $font_b: "Hammersmith One";
 $font_c: "Proza Libre";
 $font_d: "Bai Jamjuree";

 // UNIVERSAL

 *{
 	margin: 0;
 	padding: 0;
 	text-decoration: none;
 }

 body{
 	min-width: 400px;
 	background-color: white;
 }

 div#main{
 	min-height: 400px;
 	// padding: 0 5px;
 }

// HEADER

header{
	height:60px;
	width: 100%;
	background: $color_a_gradient;
	p#header-title{
		display: inline-block;
		font-size:36px;
		padding-top:8px;
		padding-left: 15px;
		// font-weight:bold;
		font-family: $font_c, sans-serif;
		color: white;
		a{
			color: $color_b;
		}
	}
	p#header-login{
		display: inline-block;
		float: right;
		padding-right: 25px;
		padding-top: 16px;
		font-size: 20px;
		font-family: $font_a;
		a{
			color: $color_b;
		}
		a:hover{
			color: $color_a_dark;
		}
	}
}

// HOMEPAGE

div#homepage-banner{
	height:300px;
	width:100%;
	img{
		height:100%;
		width:100%;
	}
}

div#homepage-body{
	padding-top:70px;
	padding-bottom: 80px;
	h2#homepage-title{
		margin-bottom: 12px;
		font-size: 48px;
		text-align:center;
		font-family: $font_b;
		color: $color_c;
	}
	div#homepage-checkpoints{
		display: inline-block;
		width:40%;
		padding: 20px 5%;
		font-size: 24px;
		color: $color_c;
		font-family: $font_a;
		table{
			tr{
				height: 96px;
				td.checkmark{
					min-width: 50px;
					color:#91f88b;
				}
			}
		}
	}
	div#homepage-signup-box{
		float:right;
		width:50%;
		text-align: center;
		padding-top: 152px;
		div#signup-button{
			box-shadow: 3px 3px 5px $color_c_dark;
			display:inline;
			padding: 22px;
			border: 2px solid $color_a_dark;
			border-radius: 40px;
			font-family: $font_a;
			font-size: 24px;
			font-weight: bold;
			background-color: $color_a;
			color: $color_b;
			a{
				color: $color_b;
			}
			a:hover{
				color: $color_a_dark;
			}
		}
	}
}


// FOOTER

footer{
	height: 150px;
	background: $color_a_gradient;
	text-align: center;
	padding: 12px 0 6px;
	color: $color_b;
	p#footer-title{
		font-family: $font_c;
		font-size: 26px;
		margin-bottom: 6px;
	}
	p.footer-link{
		font-family: $font_a;
		font-size: 16px;
		margin-top: 8px;
		a{
			color: $color_b;
		}
		a:hover{
			color: $color_a_dark;
		}
	}
}


// FORMS

div.form-container{
	width: 330px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 40px 29px;
	border: 1px solid $color_d;
	border-radius: 10px;
	box-shadow: 3px 3px 5px $color_c;
	background-color: white;
	// text-align: center;
	div#error_explanation{
		margin-bottom: 24px;
	}
	h2.form-title{
		text-align: center;
		font-family: $font_d;
		margin-bottom: 15px;
	}
	div.form-section{
		font-family: $font_a;
		padding: 20px 0;
		label{
			float: left;
		}
		input{
			float: right;
			width: 160px;
			height:20px;
			border-radius: 5px;
			font-size: 14px;
			font-family: $font_a;
		}
	}
	div.submit{
		margin-top: 36px;
		text-align: center;
		input{
			background-color: $color_a;
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  border-radius: 8px;
		  font-family: $font_a;
		  margin: 4px 2px;
	  	cursor: pointer;
		}
		input:hover{
			color:$color_a_dark;
		}
	}
}

// SHOW PAGES

div.show-container{
	background-color: $color_b;
	// border: 1px solid $color_d;;
	border-radius: 10px;
	font-family: $font_a;
	h2, h3{
		font-family: $font_d;
		margin-bottom: 12px;
	}
	h3{
		padding-top: 16px;
		font-size: 20px;
	}
	
}
div#user-info-container{
	width:89%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
	font-style: italic;
	p{
		margin-bottom: 6px;
	}
	div#user-info{
		padding:12px;
	}
	h2#welcome-message{
		font-style: normal;
	}
	div#profits-container{
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		width:50%;
		margin-top:12px;
		border-top:1px solid $color_c;
		padding-top: 12px;
		@media screen and (max-width: 775px) {
			width: 100%;
		}
	}
}

div#user-lists{
	margin:auto;
	width: 90%;
	margin-bottom: 60px;
  div#events-wrapper{
  	margin-right:2%;
  	margin-bottom: 30px;
  }
  div#transactions-wrapper{
  	margin-left:2%;
  }
  div.wrapper{
  	width:48%;
  	min-width: 300px;
  	font-family: $font_d;
  	a{
			color: $color_c_dark;
		}
		a:hover{
			color: $color_d;
			font-style: italic;
			li{
				border: 1px dashed black;
				border-radius: 10px;
			}
		}
	@media screen and (max-width: 775px) {
	    float: none;
	    margin: auto;
	    width: 100%;
	  }
  }
  div#events-wrapper{
  	float:left;
  }
  div#transactions-wrapper{
  	float:right;
  }
	div{
		text-align:center;
		ol{
			list-style: none;
			padding: 16px;
			li{
				margin-bottom: 10px;
				padding: 4px;
				// border: 1px solid grey;
			}
			
			div.listing-left{
				width:39%;
				float: left;
				
				div#event-artist{
					margin:auto;
					width: 100%;
					font-size: 16px;
				}
				div#order-number{
					font-size: 14px;
				}
			}
			div.listing-right{
				width:59%;
				float:right;
				font-size: 14px;
				div{
					width: 100%;
				}
				div#event-venue{
					padding-bottom:4px;
				}
			}	
			
		}
	}
}

.clearfix {
  overflow: auto;
}

// FLASH MESSAGES

div#flash-container{
	margin-bottom: 30px;
	p#flash-title{
		margin-bottom: 12px;
	}
	li.flash-message{
		margin-left: 20px;
	}
}


