<li id="transaction-listing" class="clearfix">
	<div class="listing-left">
		<div id="order-number"><%= transaction.order_number %></div>
		<div id="date"><%= transaction.formatted_date(:long) %></div>
	</div>

		
	<div class="listing-right">
		<div id="transaction-event"><%= transaction.event.name %></div>
	</div>
</li>