<div id="homepage-banner"><%= image_tag("https://s3.amazonaws.com/ticktrack/ticket-track-banner.jpg") %></div>
<div id="homepage-body">
	<%= render "partials/flash_messages" %>
	<h2 id="homepage-title">Welcome to TicketTrack</h2>
	<div id="homepage-checkpoints">
		<table>
			<tr>
				<td class="checkmark">&#x2714;</td>
				<td>Record ticketing transactions</td>
			</tr>
			<tr>
				<td class="checkmark">&#x2714;</td>
				<td>Track profits & losses</td>
			</tr>
			<tr>
				<td class="checkmark">&#x2714;</td>
				<td>View performer & venue history</td>
			</tr>
		</table>
	</div>
	<div id="homepage-signup-box">
		<div id="signup-button"><%= link_to "Sign Up", new_user_path %></div>
	</div>
</div>